.background {
  background-color: #f0f0f0;
}
.descripSec {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picSection {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#compImage {
  max-width: 80%;
  height: auto;
  padding-top: 20px;
}
